## Условие 1: 
## Оформляйте ноутбук, используя эти советы:
## Номер задачи - заголовок 
### Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код
- Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2: 
### На складе лежат разные фрукты в разном количестве.Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [49]:
def total_fruits(**kwargs):
    total = 0
    for item in kwargs.values():
        total += item
    return total
   
print(total_fruits(banana=5, mango=7, apple=8))
print(total_fruits(banana=5, mango=7, apple=8, oranges=10))
print(total_fruits(banana=5, apricot=7))

20
30
12

## Условие 3: 
### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [53]:
# 1 вариант
sum(filter(lambda x: x >= 0, [100, 125, -90, 345, 655, -1, 0, 200]))

1425

In [54]:
# 2 вариант
sum([i for i in [100, 125, -90, 345, 655, -1, 0, 200] if i >= 0])

1425

In [55]:
# 3 вариант 
import numpy as np 

np.array([100, 125, -90, 345, 655, -1, 0, 200]).clip(0).sum()

1425

## Условие 4: 
### Даны два списка.
- Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
- Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [88]:
# Дата покупки
date_of_purchase = np.array(['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
                 '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
                 '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
                 '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
                 '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
                 '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09'])

# Суммы покупок по датам
purchase_amounts = np.array([1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
                             4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
                             2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887])

In [85]:
def november(data1: list, data2: list) -> list:
    new_data = []
    for i in range(len(data1)-1):
        if '-11-' in data1[i]:
            new_data.append(data2[i])
    return new_data
print(november(date_of_purchase,purchase_amounts))
print(f'Сумма покупок за Ноябрь: {sum(november(date_of_purchase, purchase_amounts))}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Сумма покупок за Ноябрь: 25098

In [82]:
print([purchase_amounts[i] for i in range(0, len(date_of_purchase)-1) if "-11-" in date_of_purchase[i]])
print(f'Сумма покупок за Ноябрь: {sum([purchase_amounts[i] for i in range(len(date_of_purchase)-1) if "-11-" in date_of_purchase[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Сумма покупок за Ноябрь: 25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [95]:
def profits(data1: list, data2: list) -> dict:
    profits = {}
    for i in range(len(data1)):
        if date_of_purchase[i].split('-')[1] in profits.keys():
            profits[date_of_purchase[i].split('-')[1]] += purchase_amounts[i]
        else:
            profits[date_of_purchase[i].split('-')[1]] = purchase_amounts[i]
    return profits

print(profits(date_of_purchase, purchase_amounts))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}